html,
body,
#root {
  height: 100%;
  background-color: #1e1e1e;
}
html {
  overscroll-behavior: contain;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.tw-forms-disable input {
  --tw-ring-color: transparent !important;
}
.tw-forms-disable-all-descendants * {
  --tw-ring-color: transparent !important;
}

.firebase-emulator-warning {
  display: none !important;
}
