html,
body,
#__next {
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.tw-forms-disable input {
  --tw-ring-color: transparent !important;
}
.tw-forms-disable-all-descendants * {
  --tw-ring-color: transparent !important;
}
